.super-search-container {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-left: 10px;
}

.pagination-container {
  display: flex;
  justify-content: center;
}

tbody tr:hover td {
  background: #D3D3D3;
}