<h1> Student Information </h1>

<form class="row g-3">
    <div class="col-md-6">
        <label for="inputfirstname" class="form-label">First Name</label>
        <input type="text" class="form-control" id="inputfirstname">
    </div>
    <div class="col-md-6">
        <label for="inputlastname" class="form-label">Last Name</label>
        <input type="text" class="form-control" id="inputlastname">
    </div>
    <div class="col-12">
        <label for="inputEmail4" class="form-label">Email</label>
        <input type="email" class="form-control" id="inputEmail4">
    </div>
    <div class="col-md-6">
        <label for="inputtitle" class="form-label">Title</label>
        <input type="text" class="form-control" id="inputtitle">
    </div>
    <div class="col-md-6">
        <label for="inputregistrationtype" class="form-label">Registration Type</label>
        <input type="text" class="form-control" id="inputregistrationtype">
    </div>

    <div class="col-12">
        <label for="inputCompanyName" class="form-label">Company Name</label>
        <select id="inputCompanyName" class="form-select">
        <option selected>Norwich University</option>
        <option selected>TAMUS - SOC</option>
        <option selected>Virginia Military Institute</option>
        <option selected>TAMU - DCLDP</option>
        <option selected>Texas A&M Cybersecurity Center </option>
        <option selected>Department of Multidisciplinary Engineering</option>
        <option selected>Evolvers Group LP</option>
        <option>...</option>
        </select>
    </div>
    
    <div class="col-md-2">
        <button type="submit" class="btn btn-primary"> Submit </button>
        <button type="cancel" class="btn btn-primary"> Cancel </button>
    </div>
</form>