<h1> Upload CSV </h1>

<div class="mb-3">
  <label for="formFile" class="form-label">Upload CSV file</label>
  <input class="form-control" type="file" id="formFile">
</div>

<div class="mb-6">
    <button type="submit" class="btn btn-primary"> Submit </button>
    <button type="cancel" class="btn btn-primary"> Cancel </button>
</div>
